.spinner {
  position: fixed;
  top: 50%;
  left: 50%; }

.mdl-card__title {
  background-color: #ff4081;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px; }
  .mdl-card__title .mdl-card__title-text {
    display: block;
    padding-left: 20px; }

.mdl-layout__drawer .mdl-card {
  width: 100%; }

.avatar {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-bottom: 20px; }
