@import 'dialog-polyfill';
@import 'addtohomescreen';

$accentColor: #ff4081;
$whiteColor: #ffffff;

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
}

ul {
    .mdl-list__item-primary-content {
        cursor: pointer;
    }
}

.mdl-card__title {
    background-color: $accentColor;
    color: $whiteColor;
    padding-top: 30px;
    padding-bottom: 30px;

    .mdl-card__title-text {
        display: block;
        padding-left: 20px;
    }
}

.mdl-layout__drawer {
    .mdl-card {
        width: 100%;
    }
}

.avatar {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

dialog {
    padding: 0;
    border: none;

    .mdl-card__menu {
        color: $whiteColor;
    }

    .mdl-card__media {
        text-align: center;
    }

    img {
        border-radius: 5%;
        margin: 15px;
    }
}